<script id="template-DescriptionInput" type="text/html">
    <h2 class="template-title">控件编辑</h2>
    <input type="hidden" name="instid" value="{{instid}}" />
    <div class="template-doc">
        <div class="input-group vertical">
            <label>描述说明内容:</label>
            {{if i18nProps.split("\,").indexOf("content")>-1}}
            {{each langs}}
            {{if $value == 'zh'}}
            <input type="hidden" name="{{$value+'_content'}}" data-value="i18n_content" value="{{attr.content}}">
            {{else}}
            <input type="hidden" name="{{$value+'_content'}}" data-value="i18n_content" value="">
            {{/if}}
            {{/each}}
            {{/if}}
            <p style="position: relative;"><textarea id="input-title" type="text" name="content" placeholder="请输入描述说明内容" class="textarea-box">{{attr.content}}</textarea>{{if i18nProps.split("\,").indexOf("content")>-1}}{{if langs.length > 0}}<i class="international-icon" id="i18n_content"></i>{{/if}}{{/if}}</p>
        </div>
        <div class="input-group">
            <label class="input-title">ID:</label>
            <div class="input-container"><input type="text" name="fieldName" class="input-box" value="{{attr.fieldName}}"></div>
        </div>
    </div>
</script>