<script id="template-FormEdit" type="text/html">
    <h2 class="template-title">表单编辑</h2>
    <div class="template-doc">
        <div class="input-group">
            <label class="input-title">表单标题:</label>
            <div class="input-container">
                {{if lang != ''}}
                    {{each lang.langs}}
                        {{if $value == 'zh'}}
                        <input type="hidden" name="{{$value+'_formName'}}" data-value="i18n_formName" value="{{formName}}">
                        {{else}}
                        <input type="hidden" name="{{$value+'_formName'}}" data-value="i18n_formName" value="">
                        {{/if}}
                    {{/each}}
                {{/if}}
                <p style="position: relative;"><input id="input-title" type="text" name="formName" placeholder="表单标题" class="input-box" value="{{formName || '表单标题'}}">{{if lang != ''}}<i class="international-icon" id="i18n_formName"></i>{{/if}}</p>
            </div>
        </div>
        <div class="input-group">
            <label class="input-title">表单备注:</label>
            <div class="input-container">
                {{if lang != ''}}
                    {{each lang.langs}}
                        {{if $value == 'zh'}}
                        <input type="hidden" name="{{$value+'_description'}}" data-value="i18n_description" value="">
                        {{else}}
                        <input type="hidden" name="{{$value+'_description'}}" data-value="i18n_description" value="">
                        {{/if}}
                    {{/each}}
                {{/if}}
                <p style="position: relative;"><input id="input-description" type="text" name="description" placeholder="请填写备注" class="input-box" value="{{description}}">{{if lang != ''}}<i class="international-icon" id="i18n_description"></i>{{/if}}</p>
            </div>
        </div>
    </div>
</script>